name: CD when PR is merged to main
on: 
  pull_request:
    types:
      - closed
    branches:
      - main
jobs:
  # Deploy_to_Prod:
  #   if: github.event.pull_request.merged == true
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: 16
  #         cache: 'yarn'
  #     - name: Create env file
  #       run: |
  #         touch .env
  #         echo REACT_APP_FIREBASE_API_KEY=${{ secrets.API_KEY }} >> .env
  #         echo REACT_APP_FIREBASE_AUTH_DOMAIN=${{ secrets.AUTH_DOMAIN }} >> .env
  #         echo REACT_APP_FIREBASE_DATABASE_URL=${{ secrets.DATABASE_URL }} >> .env
  #         echo REACT_APP_FIREBASE_PROJECT_ID=${{ secrets.PROJECT_ID }} >> .env
  #         echo REACT_APP_FIREBASE_STORAGE_BUCKET=${{ secrets.FIREBASE_STORAGE_BUCKET }} >> .env
  #         echo REACT_APP_FIREBASE_APP_ID=${{ secrets.FIREBASE_APP_ID }} >> .env
  #     - run: yarn install
  #     - run: yarn build
  #     - uses: FirebaseExtended/action-hosting-deploy@v0
  #       with:
  #         repoToken: '${{ secrets.GITHUB_TOKEN }}'
  #         firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DEPLOYTEST_8048D }}'
  #         projectId: deploytest-8048d
  #         channelId: live
  #         firebaseToolsVersion: 12.9.1
  Simulate_Test:
    runs-on: ubuntu-latest
    # needs: Deploy_to_Prod
    steps:
      - name: Simulate_Run_Test
        run: |
          echo "Test case success"
          exit 0
        
  # RollBack_on_Failure:
  #   runs-on: ubuntu-latest
  #   needs: Simulate_Test
  #   if: ${{ failure() }}
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Fetch tags
  #       run: git fetch --tags
        
  #     - name: Get previous version
  #       id: previous_version
  #       run: |
  #         PREVIOUS_TAG=$(git describe --tags $(git rev-list --tags --max-count=1 | tail -n 1))
  #         git checkout $PREVIOUS_TAG
  #         echo "Previous tag is $PREVIOUS_TAG"
  #         sleep 5

  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: 16
  #         cache: 'yarn'

  #     - name: Create env file
  #       run: |
  #         touch .env
  #         echo REACT_APP_FIREBASE_API_KEY=${{ secrets.API_KEY }} >> .env
  #         echo REACT_APP_FIREBASE_AUTH_DOMAIN=${{ secrets.AUTH_DOMAIN }} >> .env
  #         echo REACT_APP_FIREBASE_DATABASE_URL=${{ secrets.DATABASE_URL }} >> .env
  #         echo REACT_APP_FIREBASE_PROJECT_ID=${{ secrets.PROJECT_ID }} >> .env
  #         echo REACT_APP_FIREBASE_STORAGE_BUCKET=${{ secrets.FIREBASE_STORAGE_BUCKET }} >> .env
  #         echo REACT_APP_FIREBASE_APP_ID=${{ secrets.FIREBASE_APP_ID }} >> .env
          
  #     - run: yarn install

  #     - run: yarn build

  #     - name: Perform Rollback
  #       uses: FirebaseExtended/action-hosting-deploy@v0
  #       with:
  #         repoToken: '${{ secrets.GITHUB_TOKEN }}'
  #         firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DEPLOYTEST_8048D }}'
  #         projectId: deploytest-8048d
  #         channelId: live
  #         firebaseToolsVersion: 12.9.1
    
  # Create_Tag_on_Success:
  #   runs-on: ubuntu-latest
  #   needs: Simulate_Test
  #   if: ${{ success() }}
  #   permissions:
  #     contents: write
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Bump version and push tag
  #       uses: anothrNick/github-tag-action@1.64.0
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
  #         WITH_V: true
  #         DEFAULT_BRANCH: develop
  #         RELEASE_BRANCHES: main
  #         BRANCH_HISTORY: last