name: CI when PR is created or updated
on: 
  pull_request:
    branches:
      - develop
jobs:
  Build_and_Preview:
    if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
    runs-on: ubuntu-latest
    steps:
      - name: Simulate_Deploy
        run: |
          echo "Test case success"
          exit 0
      # - uses: actions/checkout@v3
      # - uses: actions/setup-node@v3
      #   with:
      #     node-version: 16
      #     cache: 'yarn'
      # - name: Create env file
      #   run: |
      #     touch .env
      #     echo REACT_APP_FIREBASE_API_KEY=${{ secrets.API_KEY }} >> .env
      #     echo REACT_APP_FIREBASE_AUTH_DOMAIN=${{ secrets.AUTH_DOMAIN }} >> .env
      #     echo REACT_APP_FIREBASE_DATABASE_URL=${{ secrets.DATABASE_URL }} >> .env
      #     echo REACT_APP_FIREBASE_PROJECT_ID=${{ secrets.PROJECT_ID }} >> .env
      #     echo REACT_APP_FIREBASE_STORAGE_BUCKET=${{ secrets.FIREBASE_STORAGE_BUCKET }} >> .env
      #     echo REACT_APP_FIREBASE_APP_ID=${{ secrets.FIREBASE_APP_ID }} >> .env
      # - run: yarn install
      # - run: yarn build
      # - uses: FirebaseExtended/action-hosting-deploy@v0
      #   with:
      #     repoToken: '${{ secrets.GITHUB_TOKEN }}'
      #     firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DEPLOYTEST_8048D }}'
      #     projectId: deploytest-8048d
      #     expires: 30d
      #     firebaseToolsVersion: 12.9.1
  Deploy_to_Cloud_Functions:
    if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
    runs-on: ubuntu-latest
    needs: Build_and_Preview
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - name: Install Firebase Tools
        run: yarn global add firebase-tools
      - name: Deploy to Cloud Functions
        run: |
          if git diff --name-only HEAD^..HEAD | grep '^functions/' > /dev/null; then
            echo "functions  folder has been changed."
            # firebase deploy --only functions --token ${{ secrets.FIREBASE_TOKEN }}
          else
            echo "No changes in the specific folder."
          fi

  Simulate_Test:
    runs-on: ubuntu-latest
    needs: Build_and_Preview
    steps:
      - name: Simulate_Run_Test
        run: |
          echo "Test case success"
          exit 0