name: CI when PR is created or updated
on: 
  pull_request:
    branches:
      - develop
jobs:
  Build_and_Preview:
    runs-on: ubuntu-latest
    if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
    steps:
      - uses: actions/checkout@v4
      - name: Build and Preview
        uses: ./.github/actions/deploy-host-template
        with:
          API_KEY: ${{ secrets.API_KEY }}
          AUTH_DOMAIN: ${{ secrets.AUTH_DOMAIN }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          FIREBASE_STORAGE_BUCKET: ${{ secrets.FIREBASE_STORAGE_BUCKET }}
          FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_DEPLOYTEST_8048D }}
          LIVESITE: true 
          
  Deploy_to_Cloud_Functions:
    runs-on: ubuntu-latest
    needs: Build_and_Preview
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Cloud Functions
        uses: ./.github/actions/deploy_cloudFunction_template
        with:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          TEST_SECRET: ${{ secrets.TEST_SECRET }}

  Simulate_Test:
    runs-on: ubuntu-latest
    needs: Deploy_to_Cloud_Functions
    steps:
      - name: Simulate_Run_Test
        run: |
          echo "Test case success"
          exit 0