name: Auto create PR from develop to main and deploy changes to Dev environment
on:
  pull_request:
    # types:
    #   - closed
    branchs:
      - develop


jobs:
  Create_PR_to_Main:
    # if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'develop'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Create Pull Request from develop to Main
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor }}@users.noreply.github.com"
        COMMIT_MSG=$(git log --format=%B -n 1 ${{ github.sha }})
        gh pr create --base main --head develop --title "Auto Merge to Main $COMMIT_MSG " --body "This PR is auto created upon merging into 'develop'." 
      env:
        GITHUB_TOKEN: ${{ secrets.ACCESS_GITHUB_TOKEN }}

