name: Create Tag on Merge to Main from develop branch

on:
  pull_request:
    types:
      - closed
    branchs:
      - main
      - develop


jobs:
  if_merged: 
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v1
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}
          fetch-depth: '0'
          
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.64.0 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # if you don't want to set write permissions use a PAT token
          WITH_V: true
          PRERELEASE: true
          DEFAULT_BRANCH: develop
          INITIAL_VERSION: 0.0.0
  create_PR_to_main:
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'develop'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Create Pull Request from develop to Main
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor }}@users.noreply.github.com"
        gh pr create --base main --head develop --title "Auto Merge to Main" --body "This PR is auto created upon merging into 'develop'." 
      env:
        GITHUB_TOKEN: ${{ secrets.ACCESS_GITHUB_TOKEN }}

